@model ASPfinal.Models.InsertSearch

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateIndex</title>
</head>
<body>
    

        <div>
            <h3>員工資料</h3>

        </div>
        <div>
            <table class="table" style="width:75%">

                <tr>

                    <td>員工編號</td>

                    <td></td>

                </tr>

                <tr>

                    <td>員工姓名</td>

                    <td>
                       

                    </td>

                </tr>

                <tr>

                    <td>雇用日期</td>

                    <td>
                       

                    </td>

                </tr>

                <tr>

                    <td>性別</td>

                   

                   

                    

                </tr>

                

                <tr>
                <tr>

                   

                    <td>年齡</td>



                </tr>



                <tr>

                    <td></td>

                    <td>
                        <input type="submit" value="查詢" />
                       

                    </td>

                </tr>
                <tr>

                    <td>只完成了EmployeeController以及EmployeeService裡的撈資料,無法顯示</td>

                    

                </tr>

            </table>

        </div>
        



    


</body>
</html>